Python 3.8
Spyder 5.1.5
SpeechRecognition -> 3.81
transformers (Successfully installed huggingface-hub-0.2.1 sacremoses-0.0.46 tokenizers-0.10.3 transformers-4.13.0)
pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch
gtts ->(2.2.3)
pygame ->(2.1.0)
pyaudio ->(0.2.11)
tensorflow
nltk
numpy
json
pickle
pandas
phonetics